/* 
Feuille de style CV web, projet 2 parcours développeur web OpenClassrooms 
*/ 

* { margin: 0; padding: 0; 
  font-family: 'Gill Sans MT', 'Trebuchet MS', sans-serif; }

.container {
  display: grid; 
  grid-template-columns: 33% auto; 
}

.item1 .prenom, .item1 .nom {
  font-size: 1.8em; 
  text-transform: uppercase;
}
.item1 .prenom {
  color: #feca07; 
}
.item1 .nom {
  font-weight: lighter; 
}

.item1 .titre {
  margin-top: 6px; 
  font-size-adjust: 1em; 
  font-weight: normal;
}

.deco-line {
  height: 2px; 
  width: 68px; 
  background: #feca07; 
  margin-top: 2px; 
}

.colore {background: #feca07; }








/* 
CONFIGURATION DE LA GRILLE 
=========================
*/ 
.item1 {grid-column-start: 2; grid-column-end: 3; grid-row-start: 1; grid-row-end: 2 ; }
.main-content {grid-column-start: 2; grid-column-end: 3; grid-row-start: 2; grid-row-end: 3 ;}
.side-content {grid-column-start: 1; grid-column-end: 2; grid-row-start: 2; grid-row-end: 3 ; }
.item4 {grid-column-start: 1; grid-column-end: 2; grid-row-start: 1; grid-row-end: 2 ; }





/* LOISIRS ============================================ */

.loisirs .ico-container {
  display: flex; 
  justify-content: space-around; 
  width: 80%; 
  margin: auto; 
}

.loisirs .single-ico-container {
  width: 52px; 
  height: 52px; 
  border-radius: 50%; 
  overflow: hidden; 
}

.loisirs .single-ico-container img {
  width: 100%; 
  height: auto; 
}




/* Bloc de la photo de profil ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/ 
.pp {
  width: 140px; 
  height: 140px; 
  background-color: gray; 
  border: #d9af13 solid 4px; 
  border-radius: 100%; 
  overflow: hidden;
  box-shadow: 8px 4px 20px RGBA(0,0,0,0.15); 
}

.pp img {
  width: 100%; 
  height: auto; 
}

.item {
  padding: 1.2em; 
}

.item1 {
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
}
.item4 {
  display: flex; 
  justify-content: center; 
  align-items: center; 
}













@media (max-width: 580px) {
.container { 
      grid-template-columns: 1fr 2fr; 
  }

.item1 {grid-column-start: 2; grid-column-end: 3; grid-row-start: 1; grid-row-end: 2 ; }
.main-content {grid-column-start: 1; grid-column-end: 3; grid-row-start: 2; grid-row-end: 3 ;}
.side-content {grid-column-start: 1; grid-column-end: 3; grid-row-start: 4; grid-row-end: 5 ; }
.item4 {grid-column-start: 1; grid-column-end: 2; grid-row-start: 1; grid-row-end: 2 ; }


  .item1 {
    background: #feca07; 
  }

  .item1, .item4 {
    padding: 1em 0; 
  }

  .item1 .prenom, .item1 .nom {
    font-size: 1.2em; 
  }

  .item1 .prenom {
    color: #fff
  }
  .item1 .titre {
    font-size: 0.6em; 
    line-height: 1; 
  }
  .pp {
    width: 100px; 
    height: 100px; 
  }


}








