/* 
Feuille de style CV web, projet 2 parcours développeur web OpenClassrooms 

ToC : 
  - Layout 
  - Header
  - Main content


*/ 



/* Import des polices : */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');




/* COULEUR PRINCIPALE ------------------------ */
.bg-colore {
  background: #00ACC1; 
}
.font-colore {
  color: #00ACC1; 
}







/*
LAYOUT ================================================
*/
* { 
  margin: 0; padding: 0; 
  font-family: 'Lato', 'Trebuchet MS', sans-serif; 
}

.container {
  display: grid; 
  grid-template-columns: 33% auto; 
}

.header-content, .main-content {
  padding: 1.2em; 
}






/* 
                             CONFIGURATION DE LA GRILLE 
                            -------------------------------
*/ 
.header-content {grid-column-start: 2; grid-column-end: 3; grid-row-start: 1; grid-row-end: 2 ; }
.main-content {grid-column-start: 2; grid-column-end: 3; grid-row-start: 2; grid-row-end: 3 ;}
.side-content {grid-column-start: 1; grid-column-end: 2; grid-row-start: 2; grid-row-end: 3 ; }
.item4 {grid-column-start: 1; grid-column-end: 2; grid-row-start: 1; grid-row-end: 2 ; }




/* 
GLOBAL =========================================
*/
h2 {
  text-transform: uppercase; ;
}

p {
  line-height: 1.6;
}






/* 
HEADER =============================================
*/

.header-content .prenom, .header-content .nom {
  font-size: 1.8em; 
  text-transform: uppercase;
}

.header-content .nom {
  font-weight: 300;
}

.header-content .titre {
  margin-top: 6px; 
  font-size: 0.8em; 
  font-weight: 400; 
}

.deco-line {
  height: 2px; 
  width: 68px; 
  margin-top: 2px; 
}








/* 
MAIN CONTENT ===========================================
*/

.main-content h2 {
  border-bottom: 1px solid #00ACC1; 
  margin: 0.6em 0; 
  padding: 0.45em; 
  display: flex; 
}
.main-content h2 span {
  margin-right: 25px; 
}

.main-content .formation article, .main-content .experience article { 
   display: flex; 
   margin: 1.4em 0; 
}
.main-content > section > article > .dot {
  flex-basis: 35px; 
  text-align: center; 
}
.main-content > section > article > .left-block {
  flex-basis: 240px; ;
}

@media (min-width: 440px) {
    .main-content .recommandations .reco-container {
        display: flex; 
    }
}

.main-content .recommandations .reco-container article {
  flex-grow: 1; 
}


.main-content p {
  max-width: 720px; 
}








/* 
SIDE CONTENT ==============================================
*/


.side-content h2 {
  text-align: center; 
  background-color: rgba(0,0,0,0.9); 
}

/* Contact -------------------------- */
.side-content li {
  list-style-type: none; 
  padding: 1em; 
}



/* A propos ------------------------- */ 

.a-propos p {
  text-align: justify; 
  margin: 1em 0; 
  padding: 0 1em; 
}




/* Loisirs  --------------------------- */

.loisirs {
  align-self: flex-end; 
}

.loisirs .ico-container {
  display: flex; 
  justify-content: space-between; 
  width: 80%; 
  margin: auto; 
}

.loisirs .single-ico-container {
  width: 46px; 
  height: 46px; 
  border-radius: 50%;
  box-shadow: 4px 2px 8px rgba(0,0,0,0.2); 
  overflow: hidden; 
}

.loisirs .single-ico-container img {
  width: 100%; 
  height: auto; 
}














/* 
Bloc de la photo de profil ======================================
*/ 

.pp {
  width: 140px; 
  height: 140px; 
  margin: 1em; 
  background-color: gray; 
  border: #00838F solid 4px; 
  border-radius: 100%; 
  overflow: hidden;
  box-shadow: 8px 4px 20px RGBA(0,0,0,0.15); 
}

.pp img {
  width: 100%; 
  height: auto; 
}

.header-content {
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
}
.item4 {
  display: flex; 
  justify-content: center; 
  align-items: center; 
}













@media (max-width: 680px) {


/* GRILLE MOBILE  ~~~~~~~~~~~~~~~~~~~~~~~~~~  */
.container { 
      grid-template-columns: 1fr 2fr; 
  }

.header-content {grid-column-start: 2; grid-column-end: 3; grid-row-start: 1; grid-row-end: 2 ; }
.main-content {grid-column-start: 1; grid-column-end: 3; grid-row-start: 2; grid-row-end: 3 ;}
.side-content {grid-column-start: 1; grid-column-end: 3; grid-row-start: 4; grid-row-end: 5 ; }
.item4 {grid-column-start: 1; grid-column-end: 2; grid-row-start: 1; grid-row-end: 2 ; }





/* HEADER MOBILE ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */ 
  .header-content {
    background: #00ACC1; 
  }

  .header-content, .item4 {
    padding: 1em 0; 
  }

  .header-content .prenom, .header-content .nom {
    font-size: 1.2em; 
  }

  .header-content .prenom {
    color: #fff
  }
  .header-content .titre {
    font-size: 0.6em; 
    line-height: 1; 
  }






  /* MAIN MOBILE ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

  .main-content .left-block {
    font-size: 0.8em; 
  }

  .main-content p {
    font-size: 0.9em; 
  }

  .main-content .recommandations .reco-container article {
    flex-grow: 1; 
  }









  /* SIDE MOBILE ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
      .side-content {
        display: flex; 
        flex-direction: column; 
      }
        .side-content :nth-child(1) {
          order: 2; 
        }
        .side-content :nth-child(2) {
          order: 1; 
        }
        .side-content :nth-child(3) {
          order: 3; 
        }

      .ico-container {
        max-width: 340px; 
      }




 /* PP MOBILE ~~~~~~~~~~~~~~~~~~~~~~ */
 .pp {
  width: 100px; 
  height: 100px; 
}

}








