/* Feuille de style Portfolio CV en ligne */
* {
  margin: 0;
  padding: 0;
}

a {
  color: #007f8e;
}

* {
  font-family: "Lato", "Trebuchet", sans-serif;
}

.special-header {
  margin: 0;
  background-color: #00ACC1;
  color: white;
  min-height: 60px;
  display: flex;
  align-items: center;
}
.special-header .page-heading {
  margin-left: 80px;
}
.special-header .backward-link {
  position: fixed;
  width: 60px;
  height: 60px;
  top: 0;
  left: 0;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
  font-size: small;
  background-color: #00ACC1;
  opacity: 0.8;
  border-right: solid 8px #007f8e;
}

.short-description {
  font-style: italic;
  font-weight: light;
  padding: 1em 1em;
  border-left: solid 14px rgba(0, 172, 193, 0.4);
}

.final-link {
  width: 100%;
  margin-bottom: 4em;
  margin-top: 2em;
  padding: 1.6em 0 1.6em 0;
  cursor: pointer;
}

.page {
  max-width: 860px;
  margin: auto;
}

.project-card {
  border-radius: 4px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
  padding: 1em;
  margin: 2em 0;
  line-height: 1.6;
}
.project-card h3 {
  color: #00ACC1;
  font-size: 1.4em;
}
.project-card .project-container {
  display: flex;
}
@media screen and (max-width: 399px) {
  .project-card .project-container {
    display: block;
  }
}
.project-card .project-container .screenshot-container {
  width: 40%;
  flex-grow: 1;
}
@media screen and (max-width: 399px) {
  .project-card .project-container .screenshot-container {
    width: 100%;
  }
}
.project-card .project-container .screenshot-container img {
  width: 100%;
  border: solid 1px rgba(0, 0, 0, 0.15);
}
.project-card .project-container .description-container {
  width: 60%;
  margin: 0 0 0 1em;
  flex-grow: 2;
}
@media screen and (max-width: 399px) {
  .project-card .project-container .description-container {
    width: 100%;
    margin: 0;
  }
}
.project-card .project-container .description-container .tags-container {
  display: flex;
  flex-wrap: wrap;
}
.project-card .project-container .description-container .tags-container li {
  list-style: none;
  margin: 0.2em;
  padding: 0.1em 0.8em;
  border: solid 1px #00ACC1;
  border-radius: 100px;
}
.project-card .project-container .description-container .description-container__date {
  font-style: italic;
  color: rgba(0, 0, 0, 0.65);
  border-radius: 2px;
  display: inline;
}
.project-card .project-container .description-container ul, .project-card .project-container .description-container p {
  margin: 1em 0;
}
.project-card .project-container .description-container ul li {
  margin-left: 2em;
}
@media screen and (max-width: 399px) {
  .project-card .project-container .description-container .cta-container {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 399px) {
  .project-card .desktop-only {
    display: none;
  }
}

.btn {
  width: 140px;
  border-radius: 2px;
  text-align: center;
  font-weight: bold;
  padding: 0.4em 1em;
  display: inline-block;
  text-decoration: none;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.25);
  transition: all ease 160ms;
}
.btn__main {
  background-color: #00ACC1;
  border: solid 2px #00ACC1;
  color: white;
}
.btn__secondary {
  border: solid 2px #00ACC1;
  color: #00ACC1;
}
.btn:hover {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.45);
}
.btn + .btn {
  margin-left: 1em;
}
@media screen and (max-width: 399px) {
  .btn + .btn {
    margin-left: 0;
    margin-top: 0.6em;
  }
}

#filters-container #filters-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#filters-container #filters-form .select-group {
  display: flex;
  flex-direction: column;
  width: 20%;
}
@media screen and (max-width: 800px) {
  #filters-container #filters-form .select-group {
    width: 48%;
  }
}

.portfolio-page h2 {
  margin-top: 2em;
  font-size: 2.8em;
}
.portfolio-page .small-warning {
  font-size: 0.7em;
  font-style: italic;
}
.portfolio-page .tags-techno {
  display: flex;
  list-style: none;
}
.portfolio-page .tags-techno li {
  margin: 0.4em;
  padding: 0.1em 1.2em;
  border-radius: 1000px;
  border: solid #00ACC1 1px;
}

.masonry {
  display: flex;
  flex-flow: row wrap;
  margin-left: -8px; /* Adjustment for the gutter */
  width: 100%;
}

.masonry-brick {
  flex: auto;
  height: 250px;
  min-width: 150px;
  margin: 0 8px 8px 0; /* Some gutter */
}

.vertical-masonry {
  display: flex;
  flex-flow: column wrap;
  max-height: 800px;
  margin-left: -8px; /* Adjustment for the gutter */
  width: 100%;
}

@media screen and (max-width: 960px) {
  .vertical-masonry {
    display: block;
  }
}
.vertical-masonry-brick {
  margin: 0 8px 8px 0; /* Some gutter */
  width: 33%;
}

@media screen and (max-width: 960px) {
  .vertical-masonry-brick {
    width: 100%;
  }
}
.masonry img, .vertical-masonry img {
  border: rgba(0, 0, 0, 0.25) solid 1px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
}

.gallerie-maquettes h2 {
  margin: 2em 0 1em 1em;
}

/*# sourceMappingURL=style.css.map */
