/* **** Partie à supprimer */ 
header, section, footer {
	border: solid 2px violet; 
}
/* ---- Fin de la partie à supprimer */




/* 
Import de la police 
*/ 
@font-face {
	font-family: 'Raleway';
	src: url(font/Raleway-Regular.ttf); 
	font-weight: 400; 
	font-style: normal; 
}
@font-face {
	font-family: 'Raleway';
	src: url(font/Raleway-Italic.ttf); 
	font-weight: 400; 
	font-style: italic; 
}
@font-face {
	font-family: 'Raleway';
	src: url(font/Raleway-Bold.ttf); 
	font-weight: 700; 
	font-style: normal; 
}
@font-face {
	font-family: 'Raleway';
	src: url(font/Raleway-BoldItalic.ttf); 
	font-weight: 700; 
	font-style: italic; 
}
@font-face {
	font-family: 'Raleway';
	src: url(font/Raleway-Light.ttf); 
	font-weight: 300; 
	font-style: normal; 
}
@font-face {
	font-family: 'Raleway';
	src: url(font/Raleway-LightItalic.ttf); 
	font-weight: 300; 
	font-style: italic; 
}








/* 
GLOBAL --------------------------------------------------------------------------------
*/ 
* {
	font-family: 'Raleway', 'Trebuchet MS', sans-serif; 
	margin: 0; 
	padding: 0; 
}

a {
	text-decoration: none; 
}


.page {
	display: grid; 
	max-width: 1200px; 
	margin: auto;
}




/* 
GRID TEMPLATE 
*/
@media (min-width: 768px) {
	.header-content, .searchbox-content, .activites-content, .footer-content {
		grid-column-start: 1; 
		grid-column-end: 4; 
	}
	.populaire-content {
		grid-column-start: 3; 
		grid-column-end: 4; 
	}
	.hebergement-content {
		grid-column-start: 1; 
		grid-column-end: 3; 
	}
	.populaire-content, .hebergement-content {
		grid-row-start: 3; 
		grid-row-end: 4; 
	}
} /* Fin de la media query */ 




















/* 
HEBERGEMENT ----------------------------------------------------------------------------
*/

.hebergement-content {
	border-radius: 20px; 
	background: #f2F2F2; 
}

.hebergement-content .hebergement-container {
	display: flex; 
	justify-content: space-between; 
}

.hebergement-content .hebergement-item {
	border-radius: 20px; 
	background: white; 
	border: 4px solid white; 
	overflow: hidden; 
	max-width: 360px; 
	width: 30%; 
	height: 180px; 
	box-shadow: 1px 1px 24px rgba(0,0,0,0.2); 
}
.hebergement-content .image-container {
	height: 110px; 
	width: 100%; 
	overflow: hidden;
	display: flex;
	align-items: center;
}
.hebergement-content .image-container img {
	width: 100%; 
	height: auto; 
}

.hebergement-content .hebergement-infos {
	background: white; 
	color: black; 
	font-size: 0.85em; 
	line-height: 1.2; 
}

.hebergement-content .hebergement-infos .star-up {
	color: #0065FC; 
}

.hebergement-content .hebergement-infos .star-down {
	color: #E2E2E2; 
}
